
@import url(./header.css);
@import url(./hero.css);
@import url(./about-me.css);
@import url(./social.btns.css);
@import url(./edu.css);

:root{

    --fontbase: 'Poppins', sans-serif;   
    --headline2: bold 59px/96px var(--fontbase);
    --headline5: bold 24px/39px var(--fontbase);
    --letracursiva: 'Dancing Script', cursive;
    --body1:bold 16px/25px  var(--fontBase);
    --purple:#310A90;
    --white: #FFFFFF;
}





body{
    background-color:rgba(90, 201, 205, 0.582); 
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Festive', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-size: 16px; 
    color: #310A90;

    
}

.bienvenidos{
    font-family: var(--letracursiva);
    font-size: 70px;
}

.container{
    padding-left: 20px;
    padding-right: 20px;

}

@media all and (max-width: 600px) {
    body{

        background-color: red;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px){

    body{

        background-color: green;
    }
}
    


/* estilos aboutme*/
/*vh -> flexible -> relativa al viewport (donde lo visualiza telefono)*/
/* px -> absoluta*/
/* 100vh = 100%*/
/* em -> relativa -> va a depender de su parent element*/



html{

    font-size: 16px;
}

#about-me{

    height: 50vh;
    background-color: red;
}

.about-me-container h1{
    font-size: 1em;
}


